node_modules/
dist/
.env
*.log
server/uploads/*
server/storage/stl/*
server/storage/obj/*
server/storage/renders/*
!server/uploads/.gitkeep
!server/storage/stl/.gitkeep
!server/storage/obj/.gitkeep
!server/storage/renders/.gitkeep
python-service/venv/
python-service/__pycache__/
.DS_Store
Thumbs.db

# Fichiers locaux
.github/
docs/

# Assets images (non versionnés)
# client/src/assets/*.png
# client/src/assets/*.jpg
# client/src/assets/*.jpeg
# client/src/assets/*.webp
# client/src/assets/*.gif
